  <h1> {{title}} </h1>
  <p>The average time in seconds, a vehicle is late at given hour.</p>
  <script> window.lineId = "{{lineId}}"; </script>
  <script> window.stopId = "{{stopId}}"; </script>
  <script src="/js/chart.js"></script>
  <div id="chart">
    <svg style="height:500px"> </svg>
  </div>

